# every five minutes
*/5 * * * * /scripts/system_health.sh
2-59/5 * * * * /scripts/lps22hb.sh
3-59/5 * * * * /scripts/icm20948.sh
4-59/5 * * * * /scripts/shtc3.sh
# once an hour, one minute past the hour
1 * * * * /scripts/s3_prep.sh
