asn1crypto==1.4.0
atcom==0.3.1
awscli==1.20.60
bitarray==2.3.4
botocore==1.21.60
certifi==2021.5.30
chardet==4.0.0
click==8.0.3
colorama==0.4.4
cryptography==35.0.0
cycler==0.10.0
docutils==0.17.1
entrypoints==0.3
gpsd-py3==0.3.0
idna==3.2
jmespath==0.10.0
keyring==23.2.1
keyrings.alt==4.1.0
kiwisolver==1.3.2
matplotlib==3.4.3
numpy==1.21.2
olefile==0.46
Pillow==8.3.2
pip==21.2.4
pyais==1.5.0
pyasn1==0.4.8
pycrypto==2.6.1
PyGObject==3.42.0
pyparsing==2.4.7
pyserial==3.5
python-apt==1.8.4.3
python-dateutil==2.8.2
pyxdg==0.27
PyYAML==5.4.1
requests==2.26.0
RPi.GPIO==0.7.0
rsa==4.7.2
s3transfer==0.5.0
SecretStorage==3.3.1
setuptools==58.2.0
simplekml==1.3.6
six==1.16.0
smbus==1.1.post2
spidev==3.5
ssh-import-id==5.11
urllib3==1.26.7
wheel==0.37.0
