[Unit]
Description=Pindrop GPS Tracking
After=sleepypid.service

[Service]
Type=simple
Restart=always
ExecStart=/opt/AISonobuoy/PiBuoy/scripts/record.sh

[Install]
WantedBy=multi-user.target
