[Unit]
Description=Hydrophone Recorder

[Service]
Type=simple
Restart=always
ExecStart=/opt/AISonobuoy/PiBuoyV2/scripts/record.sh

[Install]
WantedBy=multi-user.target
